[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.6
[submodule "godot-sqlist"]
	path = godot-sqlist
	url = https://github.com/2shady4u/godot-sqlite
[submodule "src/stduuid"]
	path = src/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "src/caches"]
	path = src/caches
	url = https://github.com/vpetrigo/caches.git
[submodule "src/unordered_dense"]
	path = src/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
